/* ---------------------- Specification ---------------------- */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #6c7279;
    padding: 0;
    margin: 0; 
}
div, p, form, input, a, span, button {
	box-sizing: border-box;
}
p {
    margin: 0;
    line-height: 1.8em;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.1em;
    color: #2d3033;
}
h1 {
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 184px;
}
h2 {
    font-size: 28px;
    line-height: 1.3em;
    font-weight: 700;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
ul, li {
    display: block;
    margin: 0;
    padding: 0;
}
a, a:hover, a:active {
    text-decoration: none;
    
}
a, button, li, input {
    transition: all 0.5s ease;
}
input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active {
	outline: none;
}
.d-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
    display: flex;
}
.btn {
	font-size: 13px;
    color: #fff;
    text-transform: uppercase;
	background-color: #e84545;
	text-align: center;
	width: 200px;
	padding: 12px 0;
    font-weight: 700;
    display: block;
    margin: 0 auto;
    border-radius: 0px;
}
.btn:hover {
	background: #fff;
	color: #e84545;
}

.btn:focus {
	box-shadow: none;
}

.link {
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0.28px;
    font-weight: 900;
}
/* ---------------------- First Screen ---------------------- */
.header {
    background: url('../images/bg.jpg') no-repeat center top / cover;
    color: #fff;
    background-color: rgba(13, 11, 23, 0.78);
    background-blend-mode: overlay;
    padding: 28px 0 243px 0;

}
.logo {
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
}
.logo:hover {
    color: #fff;
}
.logo span {
    color: #626fe4;
    font-weight: 700;
}
.menu {
    margin-top: 10px;
}
.menu__item {
    position: relative;
}
.menu li a {
    color: #ffffff;
    text-transform: uppercase;
}
.menu li a:hover:after {
   content: '';
   display: block;
   height: 3px;
   width: 153px;
   position: absolute;
   margin-top: 39px;
   background: #969497;
   left: -66px;
}
.offer {
    text-align: center;
    padding-top: 27px;
}
.offer:before {
    content: '';
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    display: block;
}
.offer__text {
    font-size: 22px;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 30px;
    line-height: 1.5em;
    width: 563px;
}

/* ---------------------- Second Screen ---------------------- */
.diversity {
    padding: 52px 0 95px 0;
}
.feature {
    margin-top: 69px;
}
.feature__img {
    display: block;
    margin: 0 auto;
}
.feature__title {
    margin-top: 31px;
}
.feature__text {
    margin-top: 19px;
    text-align: center;
    padding: 0 14px;
    line-height: 1.6em;
}
/* ---------------------- Third Screen ---------------------- */
.pictures {
    padding-bottom: 152px;
}
.pictures__card {
    position: relative;
    margin-top: 25px;
}
.pictures__img {
    display: block;
    width: 100%;

}
.pictures__overlay {
    color: #fff;
    position: absolute;
    background-color: rgba(232, 69, 69, 0.9);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease;
}
.pictures__card:hover .pictures__overlay {
    opacity: 1;
}
.pictures__article {
    color: #fff;
}
/* ---------------------- Forth Screen ---------------------- */
.people {
    background: #f1f2fd;
    padding: 140px 0 118px 0;
}
.data__img {
    display: block;
    width: 100%;
}
.data__title {
    font-family: "Open Sans";
    color: #2d3033;
    font-weight: 700;
    margin-top: 26px;
    margin-bottom: 6px;
}
.data__position {
    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
}
.data__text {
    padding-top: 18px;
    line-height: 1.5em;
}
.data__resoures {
    margin-top: 25px;
}
.data__resoures i {
    height: 40px;
    width: 40px;
    color: #c6cacc;
    background-color: #ffffff;
    border: 1px solid #e8ecee;
    font-size: 17px;
    text-align: center;
    padding-top: 11px;
}
.data__facebook i:hover {
    background: #3b5998;
    color: #fff;
}
.data__twitter i:hover {
    background: #04bedf;
    color: #fff;
}
.data__linked i:hover {
    background: #0274b3;
    color: #fff;
}

/* ---------------------- Fifth Screen ---------------------- */
.container-fluid_plain {
    padding: 0;
}
.important__photography {
    background: url(../images/big-foto.jpg) no-repeat center center / cover;
    height: 100%;
}
.important__thoughts {
    background: #53354a;
    padding: 130px 0 151px 80px;
    width: 100%;
}
.important__quote {
    color: #ffffff;
    font-size: 36px;
    font-style: italic;
    width: 505px;
    line-height: 1.18em;
}
.important__text {
    margin-top: 30px;
}

/* ---------------------- Sixth Screen ---------------------- */
.start {
    padding: 92px 0 101px 0;
}
.download {
    text-align: center;
    justify-content: center;
}
.download__text {
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 34px;
}
.download__btn {
    width: 280px;
}
.download__btn:hover {
    border: 1px solid #e84545; 
}
/* ---------------------- Seventh Screen ---------------------- */
.footer {
    background: #3a3e64;
    padding: 88px 0 85px 0;
    box-shadow: inset 0 -10px 10px rgba(39, 42, 74, 1);
}
.footer__title {
    color: #ffffff;
    text-transform: uppercase;
}
.footer__text {
    color: #ffffff;
    opacity: 0.5;
    line-height: 1.6em;
    text-align: center;
}
.footer__text_middle {
    color: #808080;
    margin-top: 21px;
}
.footer__special {
    color: #e84545;
}
.footer__kamal {
    color: #ffffff;
}
.footer__text_last {
    color: #ffffff;
    opacity: 0.5;
    margin-top: 15px;
}
.footer__card__last {
    margin-top: 1px;
    margin-top: -5px;
}

/* ---------------------- Media Queries ---------------------- */
/* 992-1200px */
@media screen and (max-width: 1200px) {
	.important__quote {
        width: 95%;
    }
}

/* 768-992px */
@media screen and (max-width: 991px) {
    .logo {
        margin: 0 auto;
        width: 160px;
    }
    .offer {
        padding-top: 41px;
        margin-top: 1px;
    }
    .nav {
        margin-top: 50px;
    }
    .data {
        margin-top: 30px;
    }
    .people {
        padding: 110px 0 118px 0;
    }
    .important__photography {
        height: 500px;
        
    }
    
}
/* 576-768px */
@media screen and (max-width: 767px) {
	.menu li a:hover:after {
        display: none; 
     }
    .footer__card {
        padding-bottom: 60px;
    }
    .footer {
        padding: 88px 0 15px 0;
    }
    .important__photography {
        background-position: 83%;
    }
    .offer {
        padding-top: 9px;
    }
    .important__photography {
        height: 378px;
    }
    .important__thoughts {
        padding: 87px 0 82px 80px;
    }
    .important__quote {
        font-size: 29px;
    }
    .offer__text {
        width: 100%;
    }
    .nav {
        display: none;
    }
}

/* 320-576px */
@media screen and (max-width: 575px) {
	.nav {
        display: none;
    }
    h1 {
        font-size: 31px;
    }
    .offer__text {
        font-size: 20px;
        width: 95%;
    }
    .important__thoughts {
        padding: 87px 0 82px 35px;
    }
    .important__quote {
        font-size: 24px;
    }
    h2 {
        font-size: 19px;
    }
    .download__text {
        font-size: 12px;
    }
    .footer__card {
        padding-bottom: 50px;
    }
    .feature__text {
        padding: 0;
    }
    h1 {
        margin-top: 124px;
    }
}